<?xml version="1.0" encoding="utf-16"?>
<ArrayOfDbConnection xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <DbConnection>
    <Id>1</Id>
    <Name>本地数据库</Name>
    <Server>localhost</Server>
    <DataBase>EIP4.0.6</DataBase>
    <UserName>sa</UserName>
    <Password>1447D32B32482775</Password>
  </DbConnection>
</ArrayOfDbConnection>
