<?xml version="1.0"?>
<root>
    <css>
        <file>~/Scripts/jquery-ui-1.10.3/css/start/jquery-ui.css</file>
        <file>~/Scripts/jquery.treeview/jquery.treeview.css</file>
        <file>~/Style/whir.common.css</file>
    </css>
    <javascript>
        <file>~/Scripts/jquery-1.9.1.js</file>
        <file>~/Scripts/jquery.treeview/jquery.cookie.js</file>
        <file>~/Scripts/jquery.treeview/jquery.treeview.js</file>
        <file>~/Scripts/jquery-ui-1.10.3/jquery-ui-1.10.3.min.js</file>
        <file>~/Scripts/jquery.treeview/jquery.contextmenu.r2.js</file>
        <file>~/Scripts/lhgdialog/lhgdialog.min.js?skin=mac</file>
        <file>~/Scripts/whir.ajax.js</file>
        <file>~/Scripts/whir.common.js</file>
        <file>~/Scripts/whir.default.js</file>
    </javascript>
</root>
